@page "/al-training"

<PageTitle>Counter</PageTitle>
<table>
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Result</th>
            <th>Last publish date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>